@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1551843720157'); /* IE9 */
  src: url('iconfont.eot?t=1551843720157#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALMAAsAAAAABpAAAAJ+AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBHIEjATYCJAMICwYABCAFhG0HMBvJBciusCnDr+guUkzjxuIdAD81AOI9xMPT2v/OnZ2Vb4KqJpNkyeKHZhYqkUgmFNOQvIQ37bLBkW2REh/LJmjGAXce4D/Y4y/M7WJ4qAsJiyTTpPW6i42LNSB06YUBhf9dYACIKMOySv+4d/r/r4ACme+8y3EvWmNQF2AcSAGOuclKKOeGsQte4GYC7caj4Nbt+cYoMrtXIC57js4oBYssM38jVA0Ts3ii1KS76S3G4+j78d80FJKyYCcdvLSxmPkvTlAx1MqJAGEloOklCswFZOJoo2c/XjAi1u4RTAaOFR/80nqgFkf980TFju0EYyHzmVge+1HpE8g0Zglg1aTjKEaT7jX++/dH5wt5aJj/iN4dXa8/jeO+uZBzDe4XFU/HfakHPqK8PcLX217GLl3fs7/PVHulM5+DvKurkfWmXBcPvoCg1II8J1V36kCooOy90sHPGW1k/6z4kF4JBAvmn6XqYO2vyODn547k2TAdzVm0wd9iDazIBsdWpayxGgPJEvgu8tq1owUb+r1TpcNuLRAaw25QVxuXQaExFc2EuVDqsBQqjQ3Qbg4zvcOAjhe5DbMtAKHXhqTbGyj0umgmPFAa7oNKb/DQ7ngMLNhhenjtLSnqOVpgGygmxbarydtx/AWdItTTPCciPTDNPDsoLsv+HcaYLjFklM505jbElCLQYDsMQ4Kako9mPsx5/pwJEZveNHQUMW1bpJAuhyzAaoDCRGJ2UDvXrnz+AjkKIV3aUVZnfECpjNc8UDg5AN0J40Flj3LNUHJMTTkbiFIkAjRoh0IhAmpzOx8y5YbyBNfTjHCqxaHC4fbi6O/WQTtblsJpVahueTpFHsMAAAA=') format('woff2'),
  url('iconfont.woff?t=1551843720157') format('woff'),
  url('iconfont.ttf?t=1551843720157') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1551843720157#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiaomi:before {
  content: "\e661";
}

